@using WealthWise_RCD.Models.DatabaseModels;
@model List<Blog>
<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>
<!-- Back button -->
<a asp-area="User" asp-controller="LearningHub" asp-action="TipsAndTricks">
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;"></i>
</a>

<div class="container mt-5">
    <!-- Title and tag line of learning hub -->
    <div class="text-center">
        <h1 class="display-4" style="text-align: center">Tips: Credit Card</h1>
        <p class="lead text-muted">Quick tips on the best credit card practices!</p>
    </div>
    <!-- Blog Posts -->
    <div class="container mt-5" style="width: 65%">
        @foreach (var blog in Model)
        {
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h3 class="card-title fw-bold" id="blog-title">
                        <a asp-area="User" asp-controller="LearningHub" asp-action="BlogDetails" asp-route-id="@blog.Id" class="maroon-on-hover">
                            @blog.Title
                        </a>
                    </h3>
                    <p class="card-text">Topic: @blog.Topic</p>
                    <p class="card-text text-muted">@blog.Advisor.FirstName @blog.Advisor.LastName -- Published: @blog.PublicationDate</p>
                </div>
            </div>
        }
    </div>
</div>

<style>
    #blog-title {
        text-decoration: none;
    }

        #blog-title:hover {
            text-decoration: underline;
            color: #815050;
            transition: all .25s ease-in-out;
        }
</style>