@model WealthWise_RCD.Models.DatabaseModels.Blog
<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.quilljs.com/2.0.3/quill.snow.css" />
</head>

<body>
    <!-- Back Button -->
    @if (Model.IsTip == false)
    {
        <a asp-area="Advisor" asp-controller="LearningHub" asp-action="BlogPosts">
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;" alt="Return to Blog List"></i>
        </a>
    }
    @if (Model.IsTip == true)
    {
        <a asp-area="Advisor" asp-controller="LearningHub" asp-action="TipsAndTricks">
            <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;" alt="Return to Tips Main Page"></i>
        </a>
    }

    <!-- Single Blog Content -->
    <div class="container flex-column justify-content-between align-items-center mb-5 px-5" id="blog-content">
        <h1 style="margin-top: 15px;">@Model.Title</h1>
        <p class="text-muted">Author: @Model.Advisor.FirstName @Model.Advisor.LastName | Published: @Model.PublicationDate</p>
        <hr />
        <p>@Html.Raw(Model.Content)</p>
        <hr />
        <!-- Recommend, Save, Share -->
        <!-- From Uiverse.io by catraco -->
        <div class="icon-container"> 
            <div class="heart-container" title="Like">
                <input type="checkbox" class="checkbox" id="Give-It-An-Id">
                <div class="svg-container">
                    <svg viewBox="0 0 24 24" class="svg-outline" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                        </path>
                    </svg>
                    <svg viewBox="0 0 24 24" class="svg-filled" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                        </path>
                    </svg>
                    <svg class="svg-celebrate" width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="10,10 20,20"></polygon>
                        <polygon points="10,50 20,50"></polygon>
                        <polygon points="20,80 30,70"></polygon>
                        <polygon points="90,10 80,20"></polygon>
                        <polygon points="90,50 80,50"></polygon>
                        <polygon points="80,80 70,70"></polygon>
                    </svg>
                </div>
            </div>
            <!-- From Uiverse.io by vinodjangid07 -->
            <label for="checkboxInput" class="bookmark">
                <input type="checkbox" id="checkboxInput" />
                <svg width="18"
                     viewBox="0 0 50 70"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     class="svgIcon">
                    <path d="M46 62.0085L46 3.88139L3.99609 3.88139L3.99609 62.0085L24.5 45.5L46 62.0085Z"
                          stroke="black"
                          stroke-width="7"></path>
                </svg>
            </label>
            <!-- From Uiverse.io by vinodjangid07 -->
            <button type="button" class="share-button">
                <span class="button__text">Share</span>
                <span class="button__icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 134 134"
                         class="svg">
                        <circle stroke-width="13"
                                stroke="white"
                                r="20.5"
                                cy="27"
                                cx="107"></circle>
                        <circle stroke-width="13"
                                stroke="white"
                                r="20.5"
                                cy="107"
                                cx="107"></circle>
                        <circle stroke-width="13"
                                stroke="white"
                                r="20.5"
                                cy="67"
                                cx="27"></circle>
                        <line stroke-width="13"
                              stroke="white"
                              y2="36.1862"
                              x2="88.0931"
                              y1="56.1862"
                              x1="48.0931"></line>
                        <line stroke-width="13"
                              stroke="white"
                              y2="97.6221"
                              x2="89.0893"
                              y1="78.1486"
                              x1="48.8304"></line>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</body> 

<footer>

</footer>
<style>
    #blog-content {
        background: white;
        width: 90%;
        padding: 10px;
        border-radius: 10px;
    }

    .icon-container {
        display: flex;
        align-items: center;
        gap: 30px; /* Adds spacing between icons */
        margin-top: 20px;
    }

    /* From Uiverse.io by catraco */
    .heart-container {
        --heart-color: rgb(255, 91, 137);
        position: relative;
        width: 28px;
        height: 28px;
        transition: .3s;
    }

        .heart-container .checkbox {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 20;
            cursor: pointer;
        }

        .heart-container .svg-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .heart-container .svg-outline,
        .heart-container .svg-filled {
            fill: var(--heart-color);
            position: absolute;
        }

        .heart-container .svg-filled {
            animation: keyframes-svg-filled 1s;
            display: none;
        }

        .heart-container .svg-celebrate {
            position: absolute;
            animation: keyframes-svg-celebrate .5s;
            animation-fill-mode: forwards;
            display: none;
            stroke: var(--heart-color);
            fill: var(--heart-color);
            stroke-width: 2px;
        }

        .heart-container .checkbox:checked ~ .svg-container .svg-filled {
            display: block
        }

        .heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
            display: block
        }

    @@keyframes keyframes-svg-filled {
        0%

        {
            transform: scale(0);
        }

        25% {
            transform: scale(1.2);
        }

        50% {
            transform: scale(1);
            filter: brightness(1.5);
        }
    }

    @@keyframes keyframes-svg-celebrate {
        0%

        {
            transform: scale(0);
        }

        50% {
            opacity: 1;
            filter: brightness(1.5);
        }

        100% {
            transform: scale(1.4);
            opacity: 0;
            display: none;
        }
    }

    /* From Uiverse.io by vinodjangid07 */
    #checkboxInput {
        display: none;
    }

    .bookmark {
        cursor: pointer;
        background-color: white;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    .svgIcon path {
        stroke-dasharray: 200 0;
        stroke-dashoffset: 0;
        stroke: #daa520;
        fill: #dddddd00;
        transition-delay: 0s;
        transition-duration: 0.5s;
    }

    #checkboxInput:checked ~ .svgIcon path {
        fill: #daa520;
        animation: bookmark 0.5s linear;
        transition-delay: 0.5s;
    }

    @@keyframes bookmark {
        0%

    {
        stroke-dasharray: 0 200;
        stroke-dashoffset: 80;
    }

    100% {
        stroke-dasharray: 200 0;
    }

    }

    /* From Uiverse.io by vinodjangid07 */
    .share-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90px;
        height: 30px;
        position: relative;
        border: 1px solid #72cfe7;
        background-color: #72bbe7;
        overflow: hidden;
        cursor: pointer;
        color: white;
    }

    .button__text {
        width: 80px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .button__icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #46a7e0;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }

        .button__icon svg {
            width: 18px;
        }

    .share-button:hover .button__icon {
        width: 100%;
    }

</style>
