<!DOCTYPE html>
<partial name="_LoginPartial" />
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WealthWise_by_RCD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WealthWise_RCD.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="topbar">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#adad85 mb-3" style="margin-left: 3em;">
            <div class="container-fluid">
                <img src="~/images/RCDLogo color.jpg" alt="Roman Cat Dynasty Logo" width="50" height="50" />
                <a class="navbar-brand" asp-area="@GetAreaBasedOnRole()" asp-controller="Home" asp-action="Index" id="title">WealthWise by RCD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center" style="padding-left: 1em">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="padding-left: 1em">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "FinancialCalcs" ? "active font-weight-bold" : "")"
                               asp-area="@GetAreaBasedOnRole()" asp-controller="FinancialCalcs" asp-action="Index">Financial Calculators</a>
                        </li>
                        <li class="nav-item" style="padding-left: 1em">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "LearningHub" ? "active font-weight-bold" : "")"
                               asp-area="@GetAreaBasedOnRole()" asp-controller="LearningHub" asp-action="Index">Learning Hub</a>
                        </li>
                        <li class="nav-item" style="padding-left: 1em">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "News" ? "active font-weight-bold" : "")"
                               asp-area="@GetAreaBasedOnRole()" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item" style="padding-left: 1em">
                            <a class="nav-link text-light @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Scheduler" ? "active font-weight-bold" : "")"
                               asp-area="@GetAreaBasedOnRole()" asp-controller="Scheduler" asp-action="Index">Scheduler</a>
                        </li>
                    </ul>

                    <!-- Navbar Profile Dropdown -->
                    <ul class="img-fluid" style="align-content: end" >
                        <li class="nav-item dropdown" style="display: flex; list-style-type: none">
                            <a class="nav-link" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/Cat Coins/PP1.jpg" alt="Profile icon" width="45" height="45" style="border-radius: 50%; border: 1px solid #ccc; margin-top: 10px; margin-bottom: 0px" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Index">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container" id="footer">
            &copy; 2025 - WealthWise Financial Advising by Roman Cat Dynasty | Empowering Your Financial Future - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    #topbar {
        width: 100%;
        height: fit-content;
        background-color: #d5cab8;
        -webkit-text-fill-color: white;
        text-align: left;
        font-size: 17px;
    }
    #title {
        color: #5d5d3c;
    }
    .footer {
        position: absolute; 
        margin-bottom: 0;
        bottom: 0;
        width: 100%;
        height: fit-content;
        background-color: #adad85;
        -webkit-text-fill-color: #5d5d3c;
        text-align: left;
    }

    .navbar {
        padding: 0px;
    }
</style>

@{
    string GetAreaBasedOnRole()
    {
        if (User.IsInRole("Advisor"))
        {
            return "Advisor"; 
        }
        else if (User.IsInRole("User"))
        {
            return "User";
        }
        else
        {
            return "User"; // Start in user for admins
        }
    }
}