@using Microsoft.AspNetCore.Identity;
@using WealthWise_RCD.Models.DatabaseModels
@{
    string GetAreaBasedOnRole()
    {
        if (User.IsInRole("Advisor"))
        {
            return "Advisor";
        }
        else if (User.IsInRole("User"))
        {
            return "User";
        }
        else
        {
            return "User"; // Start in user for admins
        }
    }
}


@model List<Payment>
<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<div class="container mt-5">
    <!-- Title and tag line of learning hub -->
    <div class="text-left">
        <h1 class="display-4">Saved Payment Methods</h1>
        <p>You can edit or add payment methods to your account here.</p>
    </div>
    <div style="margin-bottom: 10px; display: flex; justify-content: flex-end;">
        <button class="btn btn-sm" style="width: 175px; margin-right: 5px;" onclick="loadPartial('@Url.Action("LoadAddCreditCardMethodPartial", "Account", new { Area = GetAreaBasedOnRole() })')">Add Credit Card Method</button>
        <button class="btn btn-sm" style="width: 175px; margin-left: 5px;" onclick="loadPartial('@Url.Action("LoadAddPayPalMethodPartial", "Account", new { Area = GetAreaBasedOnRole() })')">Add PayPal Method</button>
    </div>
    <div class="row">
        @foreach(var payment in Model)
        {
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">@payment.Name</h5>
                        <div class="d-flex gap-2" style="align-items: center">
                            <button class="btn btn-primary" onclick="loadPartial('@Url.Action("LoadEditPaymentMethodPartial", "Account", new { Area = GetAreaBasedOnRole() })?id=@payment.Id')">Edit</button>
                            <form asp-action="RemovePaymentMethod" method="post"
                                  onsubmit="return confirm('Are you sure you want to delete this payment method?');">
                                <input type="hidden" asp-for="@payment.Id" name="Id" value="@payment.Id" />
                                <button class="btn btn-sm delete-button" style="border: none; background: transparent;">
                                    <i class="fa-solid fa-trash fa-lg"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@payment.Name</h5>
                        <p class="card-text">
                            @if (payment.Type == PaymentType.CreditCard)
                            {
                                <span><strong>Type:</strong> Credit Card</span>

                                <br />
                                <span><strong>Cardholder:</strong> @payment.CardholderName</span>

                                <br />
                                <span><strong>Number:</strong> @payment.CardNumber</span>

                                <br />
                                <span><strong>Expires:</strong> @payment.ExpDate?.ToString("MM/yyyy")</span>
                            }
                            else if (payment.Type == PaymentType.PayPal)
                            {
                                <span><strong>Type:</strong> PayPal</span>

                                <br />
                                <span><strong>Account:</strong> @payment.AccountName</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .delete-button i {
        color: #828282;
        transition: color 0.3s ease;
    }

    .delete-button:hover i {
        color: #ff0000;
    }
</style>
