@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@model List<WealthWise_RCD.Models.DatabaseModels.Blog>

<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<!-- Back Button -->
<a asp-area="User" asp-controller="LearningHub" asp-action="Index">
    <i class="fa-solid fa-arrow-left fa-xl" style="color: #828282;" alt="Return to Learning Hub"></i>
</a>

<!-- Header -->
<div class="text-center">
    <h1 class="display-4" style="text-align: center">Learning Hub: Blog Posts</h1>
    <p class="lead text-muted">Explore Advisor's Posts!</p>
</div>

<!-- Create Blog Post button, Search Bar, Sort Dropdown-->
<div class="mb-3 text-right" style="justify-self: flex-end; padding-right: 5.6%">
    <!-- Right side: Search Bar and Sort Dropdown -->
    <div class="d-flex align-items-center">
        <input type="text" id="searchBar" class="form-control w-50" placeholder="Search blog posts..." />
        <button class="btn btn-primary ml-2" style="margin: 10px" id="searchButton"><i class="fas fa-search"></i></button>
        <label for="sortBy" class="form-label">Sort By:</label>
        <select id="sortBy" class="form-control d-inline-block w-auto" style="margin: 10px">
            <option value="date_oldest">Oldest</option>
            <option value="date_newest">Newest</option>
            <option value="alphabetical">A-Z</option>
            <option value="reverse-alphabetical">Z-A</option>
        </select>
    </div>
</div>

<!-- Blog Posts -->
<div class="container mt-5" style="width: 65%">
    @foreach (var blog in Model)
    {
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h3 class="card-title fw-bold" id="blog-title">
                    <a asp-area="Advisor" asp-controller="LearningHub" asp-action="BlogDetails" asp-route-id="@blog.Id" class="maroon-on-hover">
                        @blog.Title
                    </a>
                </h3>
                <p class="card-text">Topic: @blog.Topic</p>
                <p class="card-text text-muted">Author @blog.Advisor.FirstName @blog.Advisor.LastName  -- Published: @blog.PublicationDate</p>
            </div>
        </div>
    }
</div>

<style>
    #blog-title {
        text-decoration: none;
    }

        #blog-title:hover {
            text-decoration: underline;
            color: #815050;
            transition: all .25s ease-in-out;
        }
</style>