@using WealthWise_RCD.Models
@{
    var interestAmount = ViewData["InterestAmount"]?.ToString() ?? " ";
    var retirementAmount = ViewData["RetirementAmount"]?.ToString() ?? " ";
    var activeTab = ViewData["ActiveTab"]?.ToString() ?? "interest";
    var yearlySavings = ViewData["YearlySavings"] as Dictionary<int, double>; // Assuming yearly savings is a dictionary with year as key and savings as value
}
<!-- Link for the font awesome library -->
<head>
    <script src="https://kit.fontawesome.com/32c95df022.js" crossorigin="anonymous"></script>
</head>

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Financial Calculators</h1>
        <p class="lead text-muted">Tools to analyze and plan for your financial future!</p>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link @(activeTab is "interest" ? "active" : "")" id="interest-calculator-tab" data-toggle="tab" href="#interest-calculator" role="tab" aria-controls="interest-calculator" aria-selected="true">Interest Calculator</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link @(activeTab is "retirement" ? "active" : "")" id="retirement-calculator-tab" data-toggle="tab" href="#retirement-calculator" role="tab" aria-controls="retirement-calculator" aria-selected="false"> Retirement Calculator</a>
        </li>
    </ul>

    <!-- tab page content -->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane @(activeTab is "interest" ? "active show" : "fade")" id="interest-calculator" role="tabpanel" aria-labelledby="interest-calculator-tab">
            <!-- Interest Calculator Content -->
            <h3>Interest Calculator</h3>
            <form method="post">
                <div class="form-group">
                    <label for="Initial Amount">Initial Amount:</label>
                    <div class="position-relative">
                        <input type="number" class="form-control money-input-interest" id="initialAmount" name="InitialAmount" placeholder="Enter initial amount" step="0.01">
                        <span class="dollar-sign-interest">$</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="numberOfPayments">Compound Rate:</label>
                    <input type="number" class="form-control" id="numberOfPayments" name="NumberOfPayments" placeholder="Enter the number of times per year the interest is compounded" step="1">
                </div>
                <div class="form-group">
                    <label for="time">Time in Years:</label>
                    <input type="number" class="form-control" id="time" name="Time" placeholder="Enter the number of years the interest is accruing" step="1">
                </div>
                <div class="form-group">
                    <label for="interestRate">Interest Rate (%):</label>
                    <input type="number" class="form-control" id="interestRate" name="InterestRate" placeholder="Enter the interest rate as a percent" step="0.01">
                </div>
                <input type="hidden" name="activeTab" value="interest" />
                <br />
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
            @if (@interestAmount != null)
            {
                <div class="alert alert-info mt-3" id="calculatedAmountBox">
                    <strong>Calculated Amount:</strong> @interestAmount
                </div>
            }
            @*             <div class="mt-3">
                <h5>Formula:</h5>
                <img src="~/images/CompoundInterestFormula.png" alt="Interest Calculation Formula" class="img-fluid">
            </div> *@
        </div>
        <div class="tab-pane @(activeTab is "retirement" ? "active show" : "fade")" id="retirement-calculator" role="tabpanel" aria-labelledby="retirement-calculator-tab">
            <!-- Retirement Calculator Content -->
            <h3>Retirement Calculator</h3>
            <form method="post">
                <div class="form-group">
                    <label for="currentAge">Current Age:</label>
                    <input type="number" class="form-control" id="currentAge" name="CurrentAge" placeholder="Enter your age" step="1">
                </div>
                <div class="form-group">
                    <label for="retirementAge">Retirement Age:</label>
                    <input type="number" class="form-control" id="retirementAge" name="RetirementAge" placeholder="Enter retirement age" step="1">
                </div>
                <div class="form-group">
                    <label for="annualIncome">Annual Income:</label>
                    <div class="position-relative">
                        <input type="number" class="form-control money-input-retirement" id="annualIncome" name="AnnualIncome" placeholder="Enter your income" step="0.01">
                        <span class="dollar-sign-retirement">$</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="expectedIncomeInc">Expected Annual Income Increase (%):</label>
                    <input type="number" class="form-control" id="expectedIncomeInc" name="ExpectedIncomeInc" placeholder="Enter the percent you think your income will increase annually" step="0.01">
                </div>
                <div class="form-group">
                    <label for="retirementSavings">Annual Retirement Saving of Income (%):</label>
                    <input type="number" class="form-control" id="retirementSavings" name="RetirementSavings" placeholder="Enter the percent of your annual income you will save" step="0.01">
                </div>
                <div class="form-group">
                    <label for="savingsInterestRate">Savings Annual Interest Rate (%):</label>
                    <input type="number" class="form-control" id="savingsInterestRate" name="SavingsInterestRate" placeholder="Enter the interest rate of your savings" step="0.01">
                </div>
                <input type="hidden" name="activeTab" value="retirement" />
                <br />
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>
            @if (retirementAmount != null)
            {
                <div class="alert alert-info mt-3" id="calculatedAmountBox">
                    <strong>Amount at retirement:</strong> @retirementAmount
                </div>
            }
            @if (yearlySavings != null)
            {
                <div class="mt-3">
                    <h5>Yearly Savings:</h5>
                    <ul>
                        @foreach (var year in yearlySavings.Keys)
                        {
                            <li>Year @year: @yearlySavings[year]</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            const interestField = document.querySelector(".money-input-interest");
            const interestDollarSign = document.querySelector(".dollar-sign-interest");

            interestField.addEventListener("input", function() {
                if (interestField.value.trim() !== "")
                {
                    interestDollarSign.style.opacity = "1";
                    interestField.style.paddingLeft = "20px";
                }
                else
                {
                    interestDollarSign.style.opacity = "0";
                    interestField.style.paddingLeft = "10px";
                }
            });

            const retirementField = document.querySelector(".money-input-retirement");
            const retirementDollarSign = document.querySelector(".dollar-sign-retirement");

            retirementField.addEventListener("input", function() {
                if (retirementField.value.trim() !== "")
                {
                    retirementDollarSign.style.opacity = "1";
                    retirementField.style.paddingLeft = "20px";
                }
                else
                {
                    retirementDollarSign.style.opacity = "0";
                    retirementField.style.paddingLeft = "10px";
                }
            });
        });
    </script>
}

<style>
    #calculatedAmountBox {
        background-color: white;
        border-color: lightgrey;
        -webkit-text-fill-color: #8a8a5c;
        text-align: left;
        padding: 10px;
    }

    #currentBudget:hover::after {
        content: "Update Budget";
    }

    #pastBudgets:hover::after {
        content: "View Budgets";
    }

    .position-relative {
        position: relative;
    }

    .dollar-sign-interest {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: lightgray;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .money-input-interest {
        padding-left: 10px;
    }

    .dollar-sign-retirement {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        color: lightgray;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .money-input-retirement {
        padding-left: 10px;
    }
</style>